.add-on .input-group-btn>.btn {
  border-left-width: 0;
  left: -2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


/* stop the glowing blue shadow */

.add-on .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #cccccc;
}

.form-control {
  width: 100%
}

.navbar-nav>li>a {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}

.navbar-nav:last-child {
  border-right: 0
}

.popover {
  max-width: 30%;
  /* Max Width of the popover (depending on the container!) */
}

.popover.fade.show.bs-popover-right {
  top: 7% !important;
}

.popover.bs-popover-right.show {
  top: 7% !important;
}

.popover.fade.bs-popover-right.show {
  top: 7% !important;
}

.arrow {
  top: 20% !important;
}

.bt-login,
.bt-login:hover,
.bt-login:active,
.bt-login:focus {
  background-color: #ff8627;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: background-color 300ms linear 0s;
}

.login-tab {
  margin: 0 auto;
  max-width: 380px;
}

.login-modal-header {
  background: #27ae60;
  color: #fff;
}

.login-modal-header .modal-title {
  color: #fff;
}

.login-modal-header .close {
  color: #fff;
}

.login-modal i {
  color: #000;
}

.login-modal form {
  max-width: 340px;
}

.tab-pane form {
  margin: 0 auto;
}

.login-modal-footer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sidenav {
  height: 0px;
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: none;
}

.sidenav a {
  text-decoration: none;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.card-footer {
  height: 35px;
}


/* star rating css */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset {
  margin: 0;
  padding: 0;
}


/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating>input {
  display: none;
}

.rating>label:before {
  margin: 3px;
  font-size: 0.75em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating>.half:before {
  content: "\f089";
  position: absolute;
}

.rating>label {
  color: #ddd;
  float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,

/* show gold star when clicked */

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
  color: #FFD700;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

/* lighten current selection */

.rating>input:checked~label:hover~label {
  color: #FFED85;
}